
body{
    overflow-x:hidden;
    
}
.navbar{
    opacity: 75%;
}
#navbar{
    width:1400px;
}
img{
    
    height:500px;
}

.carousel-item{
    padding:0 40px;
}
.orange-bg{
   
    margin-top:40px;
    border-radius:20px;
}
.img-fluid{
    height:500px;
    padding:30px;
}
.pnc-bg{
    overflow:hidden;
}
.pnc-bg{
    margin-top:40px;
    text-align: justify;
    
}
.scroll{
    overflow: scroll;
    
}
.width{
    width:350px;
    height:400px;
}
.background-sponsered{
   
    margin-top:50px;
    background-image: url("../images/background-3.jpg");
    background-size: 100%;

    background-repeat: no-repeat;
    background-attachment: fixed;
}
footer{
    height:600px;
    width:1400px;
    background:#282C2F;
    margin-top:30px;
}

.fa-map-marker{
    background-color:#33383b;
}
